.footer{
    background-repeat: no-repeat;
    background: linear-gradient(#000000af, #1d1515b4), url("https://images.unsplash.com/photo-1471477985614-a55f7db053db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position:center;
    background-size: cover;
}

